@charset "utf-8";

html {
    font-size: 100%;
}

body {
    background-color: #ffffff;
    color: #24292E;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* header始まり */
header {
    height: 270px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

.site-title {
    line-height: 1px;
}

.site-title a {
    display: block;
}

.global-nav {
    display: flex;
    padding: 10px 0;
}

.global-nav li {
    font-size: 0.9rem;
    margin-left: 30px;
}

.global-nav a {
    text-decoration: none;
    color: #24292E;
}

.global-nav a:hover {
    opacity: 0.7;
}

.global-nav li img.icon {
    width: 20px;
}
/* header終わり */

/* main visual */
#main-visual {
    margin-bottom: 80px;
}

#main-visual img{
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}
/* main visual終わり */

/* wrapper始まり */
.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}
/* wrapper終わり */

/* section title始まり */
.section-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 65px;
}

/* about始まり */
#about ul {
    margin-bottom: 30px;
}

#about li:first-child {
    margin-bottom: 30px;
}

#about p {
    text-align: justify;
    padding-left: 4%;
}
/* about終わり */

/* works始まり */
#works ul {
    display: flex;
    flex-wrap: wrap;
}

#works ul li {
    margin: 10px 15px 10px 15px;
}

#works ul li img {
    width: 264px;
    height: 172px;
}
/* works終わり */

/* news始まり */
#news table {
    border-collapse: collapse;
    margin: 0 auto;
}

#news th, td {
    padding: 15px 5px;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    font-size: 0.9rem;
    font-weight: 500;
}

#news th {
    width: 20%;
}
#news td {
    width: 80%;    
}
/* news終わり */