@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #383E45;
    font-size: 14.4px;
    line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: #24293E;
}

header {
    height: 60px;
    margin: 10px 230px;
    display: flex;
}

.logo {
    width: 120px;
    height: 40px;
    background-color: #393E46;
    margin-right: auto;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.logo h1 {
    margin-top: 0;
    color: #ffffff;
    font-size: 20px;
}

.global-nav {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}

.global-nav li {
    font-size: 14.4px;
    width: 20px;
    list-style: none;
    margin-right: 30px;
}

.global-nav a {
    text-decoration: none;
}

footer {
    text-align: center;
    color: #383E45;
}